# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# vim swp files
*.swp

# booksim specific files 
booksim
lex.yy.c
y.tab.c
y.tab.h
booksim2.0/trunk/doc/*
